body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
  position: static;
}

header {
  text-align: center;
  justify-content: center;
}

footer {
  background-color: #343330;
  text-align: center;
  height: 10rem;
  padding: 1rem;
  
}

.heading {
  font-family: sans-serif;
  background-color: #343330;
  color: white;
  margin-top: 1rem;
}

.main{
  display:flex;
  flex-direction: row;
  overflow: unset;
}

.sidebar{
  
  width: 120px;
  background-color: darkolivegreen;
  display: block;
  padding:30px;

  }

.contents{
    padding: 10px;
    width: 30%;
    margin-left:2rem;
}

nav {
  display: block;
}

.navlist{
    list-style-type: none;
    
}

.navlist a {
  color: white;
}

#menu{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  
}

.image{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border: 2px solid #D1603D;
    margin-top: 1rem;
}

.header{
  padding-bottom: 20px;
}

#menu, .navlist{
  padding-left: 0.1em;
  padding-top: 0.1em;
  ;
}

.Contact{
  color: white;
  padding-top: 2rem;
}

.logo{
  margin: 0.4rem;
  width: 0.5 rem;
  padding-bottom: 0.5rem;
}







