body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
}

footer {
  background-color: #343330;
  text-align: center;
}

.heading {
  font-family: 'Courier New', Courier, monospace;
  background-color: #343330;
  color: white;
}

nav {
  display: block;
}

.navlist{
    list-style-type: none;
}

.sidebar{
background-color: darkolivegreen;
display: block;
width: 200px;
height: 120px;
} 


h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}




